.working-list-item {
  display: flex;
}

.our-working > .container {
  padding-top: 0px;
}

.our-working-list:not(:last-child) {
  margin-right: 30px;
}

.our-working-list {
  width: 370px;
  box-sizing: border-box;
}

.our-working-img {
  display: flex;
}

.working-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
