.portfolio > .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.p-list-item {
  max-width: 370px;
  box-sizing: border-box;
  margin: 15px;
  background: #ffffff;
}

.portfolio-list-link:hover .overlay,
.portfolio-list-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img {
  display: block;
}

.cart-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-list-link {
  display: block;
  text-decoration: none;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.projects-content {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.developer-services {
  color: #ffffff;
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 500ms linear;
  bottom: -100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
}
.list-item-img-wrapper {
  position: relative;
  overflow: hidden;
}
