:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --grey4: #afb1b8;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
